.profileInfo {
    display: flex;
    gap: 8px;

    img {
        border-radius: 100%;
    }

    .textInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name {
            color: var(--color-dark-gray-ebony);
            font-size: var(--font-size-special);
            font-weight: 510;
        }

        .nickname {
            color: var(--color-dark-gray-charcoal);
            font-size: var(--font-size-small);
            font-weight: 400;
        }
    }
}