.header {
    padding: 7px 0 9px;
    background-color: var(--color-light-gray-porcelain);
    border-bottom: 1px solid #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: var(--font-size-special);
    color: var(--color-dark-gray-ebony);
    line-height: 27px;
    font-weight: 500;
    z-index: 10;

    .iconWrapper {
        position: fixed;
        top: 9px;
        left: calc(var(--padding-spacing) * 3);
    }
}