.navItem {
    color: var(--color-dark-gray-slate);
    font-size: var(--font-size-icon);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}