.upperSlide {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 4vh;

    &.lila {
        background-color: var(--color-lila);
    }

    &.salad-green {
        background-color: var(--color-salad-green);
    }

    &.yellow {
        background-color: var(--color-yellow);
    }
}